@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
}

.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

nav li {
  list-style: none;
  padding: 0 25px;
}

.link {
  text-decoration: none;
  color: #4e98ec;
}

.active {
  text-decoration: underline;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.profile {
  border-left: 2px solid #4e98ec;
  padding-left: 10px;
}

.dragon {
  display: flex;
}

.dragon-img img {
  height: 270px;
  width: 290px;
  padding: 20px 0 0 40px;
}

.dragon-description {
  padding: 20px;
}

.dragon-btn {
  background-color: #007bff;
  color: #fff;
  width: 100px;
}

/* .rocket {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 0.845rem;
}

.rocket-img img {
  height: 300px;
  width: 350px;
  padding: 10px;
}

.rocket-des {
  padding: 20px;
}
 */
hr {
  border: 1px solid #ec1010;
}

.cancelReserve {
  background-color: red;
  color: rgb(7, 11, 247);
}

.reserved {
  background-color: #360af8;
  color: aquamarine;
}
